@import 'font.css';

.terminal {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 12px;
  margin: 0;
  font-family: 'pxplus_ibm_vga8regular', monospace;
  background-color: black;
  color: lightgray;
  line-height: 1.2;
  overflow-y: auto;

  font-smooth: never;
  -webkit-font-smoothing: none;
}

.terminal-output {
  width: 100%;
  height: 100%;
}

.terminal-prompt {
  font-weight: 800;
  color: #eeeeee;
}


.terminal-error {
  color: #EE0000;
}

/**
* The input span where the input happens.
* Also applied to the previous inputs made in the current session.
*/
.terminal .terminal-input {
  height: 1em;
  min-width: 1em;
  outline: none;
  border: none;
  display: inline-block;
}

.terminal p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.terminal ul {
  margin-top: 1.2em; /* match line-height */
  margin-bottom: 1.2em;
  list-style-type: none;
  padding-left: 2em; /* four spaces */
}

.terminal .terminal-prompt {
  color: cyan;
}

.terminal a,
.terminal a:visited,
.terminal a:active,
.terminal a:hover {
  color: magenta;
}

.terminal strong {
  font-weight: normal;
  color: white;
}
